<h2><a href="#/todos">TODOs</a></h2><a href="#/todos/add">Add new TODO</a>
{{#if this}}
	{{#this}}
		<h2><a href="#/todos?category={{category}}">{{category}}</a></h2>
		<ul type="none">
			{{#todos}}
				<li class="checkbox" data-item= {{id}}>
					<label class="label label-primary" style="font-size: 13px">
						{{#if state}}
							<input class="todo-state" type="checkbox" checked>
						{{else}}
							<input class="todo-state" type="checkbox">
						{{/if}}
						<strong>{{text}}</strong>
					</label>
				</li>
			{{/todos}}
		</ul>
	{{/this}}
{{else}}
	<h3>No TODOs</h3>
{{/if}}